{% extends 'base.html' %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">공용차량등록</h1>
    <p class="mb-4">이곳은 차량을 등록하는 곳입니다..
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
    <div class="row">
    <div class="col-sm-12 col-md-6">
        <h6 class="m-0 font-weight-bold text-primary">공용차량등록 및 관리</h6>
    </div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

    <tbody>
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="thead-dark">
                <th>번호</th>
                <th style="width:25%">차량등록번호</th>
                <th>차량종류</th>
                <th>차량책임자</th>
                <th>사번</th>
                <th>작성날짜</th>
                <th>작성자</th>


            </tr>
            </thead>
            <tbody>
            {% if question_list %}
                {% for question in question_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'pybo:detail' question.id %}">{{ question.Car_num }}</a>
                            {% if question.answer_set.count > 0 %}
                                <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                            {% endif %}
                        </td>
                        <td>{{ question.Car_variety }}</td>
                        <td>{{ question.Car_manager }}</td>
                        <td>{{ question.bussiness_num }}</td>
                        <td>{{ question.create_date }}</td>
                        <td>{{ question.author.username }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">질문이 없습니다.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="#">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                {% if page_number == question_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
            <li class="page-item">
               <a class="page-link" data-page="{{ question_list.next_page_number }}" href="#">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    {% if user.is_authenticated %}
        <a href="{% url 'pybo:question_create' %}" class="btn btn-primary mt-5">공용차량 등록하기</a>
    {% endif %}

    <form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}