 <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text" id="addon-wrapping">선택차량번호</span>
        <input type="text" class="form-control" placeholder="" aria-label="Car Number" 
               aria-describedby="addon-wrapping" />
               <div class="buttonstyle" id="addon-wrapping">
                  <input type="button" value="차량조회" />
      </div>
    </div>
    <div class="input-group flex-nowrap mt-5">
        <span class="input-group-text" id="addon-wrapping">*사번</span>
        <input type="text" class="form-control" placeholder="" aria-label="Car Number"
               aria-describedby="addon-wrapping" />
        <span class="input-group-text" id="addon-wrapping">*운행날짜</span>
        
        <input type="text" class="form-control" placeholder="" aria-label="Car Number"
               aria-describedby="addon-wrapping" />
        <select>
        <option>1월</option>
        <option>2월</option>
        <option>3월</option>
        <option>4월</option>
        <option>5월</option>
        <option>6월</option>
        <option>7월</option>
        <option>8월</option>
        <option>9월</option>
        <option>10월</option>
        <option>11월</option>
        <option>12월</option>
        </select>
    </div>


    <div class="input-group flex-nowrap mt-5">
        <span class="input-group-text" id="addon-wrapping">*출발지</span>
        <input type="text" class="form-control" placeholder="" aria-label="Car Number"
               aria-describedby="addon-wrapping" />
        <span class="input-group-text" id="addon-wrapping">*출발시간</span>
        <input type="text" class="form-control" placeholder="" aria-label="Car Number"
        aria-describedby="addon-wrapping" />
    </div>
    <div class="input-group flex-nowrap mt-5">
        <span class="input-group-text" id="addon-wrapping">*도착지</span>
        <input type="text" class="form-control" placeholder="" aria-label="Car Number"
               aria-describedby="addon-wrapping" />
        <span class="input-group-text" id="addon-wrapping">*도착시간</span>
        <input type="text" class="form-control" placeholder="" aria-label="Car Number"
        aria-describedby="addon-wrapping" />
    </div>
     <div class="input-group flex-nowrap mt-5">
        <span class="input-group-text" id="addon-wrapping">비고</span>
        <input type="text" class="form-control" placeholder="" aria-label="Car Number"
               aria-describedby="addon-wrapping" />
    </div>
     